*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
body{
    background-color: #1c1d1d;
}
.mainContainer{
    width:100vw;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    box-shadow:3px 3px 15px 0px rgba(3, 203, 253, 0.5);
    padding:20px;
    width:335px;
    height:320px;
}
#heading{
    color:white;
    font-weight: bold;
    font-size:28px;
    text-align: center;
    padding:10px 0;
}
input{
    outline:none;
    border:none;
    border-radius:8px;
    width:100%;
    height:25px;
    padding:2px 7px;
    margin-top:6px;
    font-size:18px;
    background-color:whitesmoke;
}
label{
    color:rgb(255, 255, 255);
    display: block;
    font-size:20px;
    margin-top:15px;
}

@media screen and (max-width:400px){
.container{
    width:100vw;
    height:100vh;
}
}